@import "mixins";

:host {
  .page-header {
    display: flex;
    align-items: center;
    font-weight: 300;
    padding-inline: 64px;
    min-height: 80px;
    background-color: var(--primary);
    color: var(--white);

    @include respond(phone) {
      padding-inline: 12px;
    }
    
    span {
      font-size: 25px;
    }

    button {
      font-weight: 500;
      color: black;
    }

    .btn-primary {
      --bs-btn-bg: #ffffff;
      --bs-btn-border-color: #e2e2e2;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #e2e2e2;
      --bs-btn-hover-border-color: #e2e2e2;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #c3c3c3;
      --bs-btn-active-border-color: #c3c3c3;
    }
  }

  .filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 12px;

    label {
      color: var(--mode-alpha-600);
      font-weight: 600;
      margin-bottom: 2px;
    }
  }
}
