<a class="logo" (click)="onReload()">
  <img src="assets/images/angular-white-transparent.svg" />
</a>

<ul>
  <li routerLink="/house" routerLinkActive="active">House</li>
  <li routerLink="/about-us" routerLinkActive="active">About Us</li>
</ul>

<div class="flex-grow-1"></div>

<div ngbDropdown class="d-inline-block">
  <i class="bi bi-list menu-button" ngbDropdownToggle></i>

  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem (click)="signOut()">Logout</button>
  </div>
</div>
