<a class="logo" (click)="onReload()">
  <img src="assets/images/angular-white-transparent.svg" />
</a>

<ul>
  <li routerLink="/house" routerLinkActive="active">House</li>
  <li routerLink="/about-us" routerLinkActive="active">About Us</li>
</ul>

<div class="flex-grow-1"></div>

@if (securityService.isAuthenticated()) {
<div class="action-button" (click)="signOut()">
  Logout
  <i class="bi bi-box-arrow-right"></i>
</div>
} @else {
<div class="action-button" routerLink="/auth">
  Login
  <i class="bi bi-box-arrow-in-right"></i>
</div>
}
