@import "mixins";

:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 24px;
  background-color: var(--primary);
  @include shadow(xs);

  .logo {
    height: 40px;
    width: 40px;
    margin-right: 6px;
  }

  ul {
    display: inline-flex;
    color: #ffffffb2;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      display: inline-flex;
      align-items: center;
      padding: 6px 12px;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      color: var(--white);
      font-weight: 600;

      &.active {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .action-button {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 0 12px;

    i {
      margin-left: 8px;
      font-size: 22px;
    }

    &:hover {
      outline: 1px solid var(--white);
      border-radius: 4px;
    }
  }

  .login-button {
    font-weight: 600;
    padding-inline: 12px;
  }
}
