:root {
  --primary-light: #5eead4; // not yet
  --primary: #3f51b5;
  --primary-dark: #0f766e; // not yet
  --secondary-light: #bae6fd; // not yet
  --secondary: #0ea5e9; // not yet
  --secondary-dark: #0369a1; // not yet
  --blue: #586770;
  --blue-dark: #333f48;
  --white: #ffffff;
  --black: #000000;

  --brand-active: #f67416;

  --mode-alpha-100: rgba(173, 173, 173, 0.2);
  --mode-alpha-200: rgba(50, 62, 72, 0.2);
  --mode-alpha-600: #52525b;
  --mode-alpha-700: #323e48b2;
  --mode-alpha-900: #323e48;

  --colors-base-00: #fff;
  --colors-base-900: #323e48;

  --colors-orange-50: #fff6eb;
  --colors-orange-500: #f67416;
  --colors-orange-200: #fed6a9;

  --colors-gray-900: #202024;

  --colors-blue-gray-200: #e1e7ef;
  --colors-blue-gray-400: #94a3b8;

  --red-400: #f87171;
  --green-400: #4ade80;

  --radius-radi-4: 8px;
  --radius-radi-6: 12px;
  --radius-radi-8: 22px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}
